.body {
  background-color: teal;
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}
.header{
  position: relative;
  z-index: 1;
}
.text-content{
  padding-top: 4%;
  padding-left: 30%;
  padding-right: 10%;
  text-align: justify;
  text-justify: inter-word;
  position: absolute;
  line-height: 1.6;
  }

.text-content p{
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.712);
}
.text-content a{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#menu {
  width: 800px;
  float:right;
  margin: 0 auto
}
#menu>ul>li {
  float: left
}
#menu>ul>li a {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
#menu>ul>li>ul {
  display: none
}
#menu>ul>li>ul>li {
  position: relative;
  margin-top: 5px;
}

#menu>ul>li>ul>li>a {
  background: rgb(255, 255, 255);
  color: black;
}

#menu>ul>li>ul>li>a:hover {
  background:rgb(4, 15, 172);
  color: rgb(0, 198, 90);
}
#menu>ul>li>ul>li>ul {
  position: absolute;
  left: 100px;
  top: 0;
  display: none
}
#menu>ul>li>ul>li>ul a {
  background: rgb(0, 198, 90)
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0
}

#menu{
  font-family: 'Roboto', sans-serif;
}

#menu li{
  display: inline;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu a:hover{
  color: rgb(0, 198, 90);
}


h1 {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1,3em;
  
}

h2 {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: rgba(0,0,0,0.95);
}
ul li {
  color:white;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,0.95);
}

a{
  color: rgb(4, 15, 172);
  text-decoration: none;
}

a:hover{
  color: rgb(26, 153, 153);
}

p{
  color:white;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,0.95);
}

img{
  size: 100%;
  width: 100%;
  padding-top: 3%;
}

#target {
  grid-row: 1;
  height: 100%;
}

.aparecer {
  position: absolute;
  top: 25px;
  left: 25px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
