body {
  height: 100%;
}

footer {
  font-size: 0.5em;
}

#target {
  grid-row: 1;
  height: 100%;
}

#target2{
  grid-row: 1;
  height: 100%;
  position: absolute;
}

.text-content{
  padding-left: 30%;
  padding-right: 10%;
  background-color:black;
}

.h1 {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.p{
  color:white;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}


.aparecer {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
