body {
  height: 100%;
  background-color: black;
}

#target {
  grid-row: 1;
  height: 100%;
}

#target2{
  grid-row: 1;
  height: 100%;
  position: absolute;
}

.aparecer {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
